$background: linear-gradient(169.36deg, #0F0BB1 3.37%, #0D0C31 96.91%);
$background-button: linear-gradient(94.36deg, #0F0BB1 10.45%, #0D0C31 91.69%);

$border-color: #9B9B9B;

$border-large: 10px solid $border-color;
$border-thin : 5px solid $border-color;

$border-radius: 20px;

$text-color: white;
$text-color_secondary: #CFA55C;