.creation {
    display: block;
    width: 90%;
    margin-left: auto;
    font-size: 2rem;
    &__input {
        margin-top: 10%;
        width: 85%;
        font-size: 1.5rem;
        font-family: Reactor7;
    }
}