.reception__logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 36.5%;
    margin-top: 10%;
}

.reception__title {
    font-size: 3rem;
    display: inline-block;
    width: 200px;
    margin: auto;
    margin-left: 22.5%;
    margin-top: 4%;
    text-align: center;
    font-size: 3rem;
}

.reception__navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}